<div class="header_main">
    <div class="title">ZIGMA  BANKING  APP</div>
</div>
<div class="menu">
    <div class="menu_list">
        <nav>
        <a href="" class="mn">HOME</a>
        <a href=""class="mn">SERVICES</a>
        <a href=""class="mn">CONTACT</a>
        <a href=""class="mn">SIGNOUT</a>
    </nav>
    </div>
</div>

<div class="row">
    <div class="column">
      <div class="card2">
        <h2>Fund Transfer</h2>
        <label>CRN::</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" placeholder="CRN" class="dt" /><br/>
			<label>Password::</label>&nbsp;
			<input type="password" placeholder="Password" class="dt" /><br/>
      <input type="button"  class="dat" value="signIn"/>


      <!-- routerLink="welcomepage" (click)="gotoWelcomepage()"  -->


      
   </div>
 </div>







 <!-- <div class="column">
  <div class="card1">
    <h2>BENEFICIARY</h2><br/>     
  <div class="d1">
    <button class="db">ADD NEW BENEFICIARY</button>
    <div class="dd1"><br/>
          <input type='text' placeholder='NickName' class="ExBnf" /><br/>
         <input type='number' placeholder='AccountNumber'  class="ExBnf"/><br/>
         <input type='number' placeholder='Confirm Account Number'  class="ExBnf" /><br/>
         <input type='text' placeholder='BankName'  class="ExBnf"/><br/>
         <input type='text' placeholder='IFSCcode'  class="ExBnf"/><br/>
         <input type='number' placeholder='Mobile Number'  class="ExBnf" /><br/>
         <br/><br/>
         <input type="submit" value="Add New Beficiary" style=" border-radius: 20px; background-color: transparent; height: 29px; width: 14ss0px;">
     </div>
  </div>
</div> -->