/* --------------------------------------MASTER PAGE MENU----------------------------------------- */
.header_main{ 
	width: 100%;
    float: left;
    background-image: url(../images/header.jpeg);
    height:101px;
    padding-top: 20px;
    padding-bottom: 40px; 
}
.title{
    FONT-FAMILY: fangsong;
	text-align: center;
    font-size: 50px;
    color: black;
}
.menu{
    width: 100%;
	float: left;
	background-color: #072833;
    padding-top: 49px;
}

.menu_list{
    position: absolute;
    margin: -33px -21px -1px 406px;
}
.mn{
    text-decoration: none;
    color: rgb(56, 178, 187);
    padding: 0px 56px 0px 48px;
}
 /* -----------------------------------------------CONTENT ----------------------------------------------    */

.cntnt_blck{
    position: absolute;
    top: 29%;
    height: 535px;
    width: 99%;
    background-image: url(../images/b3.jpg);
    opacity: 0.7;
    background-color: mintcream;
}
.cont{
    color: powderblue;
    position: absolute;
    top: 5%;
    left: 25px;
    height: 478px;
    font-size: 18px;
    width: 70%;
    background-color: transparent;
    border: 1px solid rgb(220, 220, 235);
    border-radius: 20px;
    text-align: center;
}
.usrdt{
    background-color: transparent;
    opacity: 0.9;
    position: absolute;
    top: 6%;
    left: 1122px;
    height: 500px;
    width: 22%;
    border: transparent;
    border-radius: 20px;
}
label{
    font-size: 19px;
}
.dtl{
    background-color: transparent;
    position: relative;
    top: -1%;
    height: 189px;
    width: 89%;
    left: 25px;
    border: 2px solid rgb(217, 217, 223);
    border-radius: 20px;
    color: cornsilk;
}
#cd{
    background-color: transparent;
    border: 0px transparent;
}
.mod{
    border: transparent;
    background-color: transparent;
    margin: 2px 69px;
    color: cornsilk;
}
.moddiv{
    position: absolute;
    background-color: transparent;
    left: 26px;
    top: 232px;
    width: 296px;
    height: 296px;
    border:1px solid whitesmoke;
    border-radius: 20px;
}
.md2{
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    left: 26px;
    top: 206px;
    width: 295px;
    height: 282px;
}
.mdv{
    border-radius: 20px;
    padding: 3px;
    margin: 4px;
    margin-left: 38px;
    margin-top: 10px;
    width: 198px;
}

.sh{
    border-radius: 10px;
    background-color: peachpuff;
    position: absolute;
    left: 95px;
    top: 251px;
    width: 97px;
}

