<div class="header_main">
    <div class="title">ZIGMA  BANKING  APP</div>
</div>
<div class="menu">
    <div class="menu_list">
        <nav>
        <a href=""class="mn">SIGNOUT</a>
    </nav>
    </div>
</div>

<div class="backg2"></div>
<div class="trd2">
  <span style="font-size: 20px;">BENEFICIARY APPROVAL:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="trns">
    <input type='text'  style='background-color:transparent;'placeholder='NickName' class="exb" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Account Number'  class="exb" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='BankName'  class="exb" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='IFSCcode'  class="exb" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Mobile Number'  class="exb" readonly />
    &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="APPROVE" class="bton"/>
    &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="DECLINE"class="bton"/>


    <input type='text'  style='background-color:transparent;'placeholder='NickName' class="exb" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Account Number'  class="exb" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='BankName'  class="exb" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='IFSCcode'  class="exb" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Mobile Number'  class="exb" readonly />
    &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="APPROVE" class="bton"/>
    &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="DECLINE"class="bton"/>



    <input type='text'  style='background-color:transparent;'placeholder='NickName' class="exb" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Account Number'  class="exb" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='BankName'  class="exb" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='IFSCcode'  class="exb" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Mobile Number'  class="exb" readonly />
    &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="APPROVE" class="bton"/>
    &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="DECLINE"class="bton"/>
  </div>

  <div class="backg1"></div>
<div class="trd1">
  <span style="font-size: 20px;">TRANSACTIONS:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <br/> <br/>
  <div class="trns">
    <input type='text' placeholder='NickName' class="ex" />
    <input type='number'  placeholder='Account Number'  class="ex" />
    <input type='text'  placeholder='BankName'  class="ex"/>
    <input type='text'  placeholder='IFSCcode'  class="ex"/>
    <input type='number' placeholder='Mobile Number'  class="ex" />
    <input type='number' placeholder='Amount'  class="ex" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Deposit" style=" border-radius: 20px; background-color:seashell; height: 29px; width: 100px;">
    <div class="am"><h4>Add Money:</h4>
     <label>AMOUNT:</label><input type="text" name="" class="ex">&nbsp;&nbsp;&nbsp;
     <input type="submit" value="Add Amount" style=" border-radius: 20px; background-color:seashell; height: 29px; width: 109px;">
    </div>
  </div>


  
<div class="backg"></div>
<div class="trd">
  <span style="font-size: 20px;">ACCOUNT FREEZE</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <br/> <br/>
  <div class="trns">
    <input type='text'  style='background-color:transparent;'placeholder='NickName' class="exb1" readonly/>
    <input type='number' placeholder='Account Number'  class="exb1"/>
    <input type='text' style='background-color:transparent;' placeholder='BankName'  class="exb1" readonly/>
    <input type='text' style='background-color:transparent;' placeholder='IFSCcode'  class="exb1" readonly/>
    <input type='number' style='background-color:transparent;' placeholder='Mobile Number'  class="exb1" readonly /><br/><br/>
    &nbsp;<input type="submit" value="FREEZE ACCOUNT" class="bton1"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;<input type="submit" value="UNFREEZE ACCOUNT"class="bton1"/>
  </div>