<div class="header_main">
  <div class="title">ZIGMA  BANKING  APP</div>
</div>
<div class="menu">
  <div class="menu_list">
      
      <a href="" class="mn">HOME</a>
      <a href="services"class="mn">SERVICES</a>
      <a href=""class="mn">CONTACT</a>
      <a href=""class="mn">SIGNOUT</a>
  
  </div>
</div>
<div class="backg" style="border: 1px solid black;"></div>

<div class="tr">
    <article style="font-size: 20px;">DIRECT MONEY:</article><br/>
    <div class="trns">
      <input type='text'style='background-color:transparent;' placeholder='Full Name' class="exb" />
      <input type='number' placeholder='Account Number'  class="exb"/>
      <input type='text'style='background-color:transparent;' value="ZIGMA BANK"  class="exb"readonly/>
      <input type='text'style='background-color:transparent;'  value="ZIG00415" class="exb"readonly/>
      <input type='number'style='background-color:transparent;' placeholder='Mobile Number'  class="exb" readonly/>
      <input type='number' placeholder='Amount'  class="exb" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit" value="Deposit" style=" border-radius: 20px; background-color:seashell; height: 29px; width: 100px;">
   </div>


<div class="trd">
   <article style="font-size: 20px;">TRANSACTION MONEY:</article><br/>
   <div class="trns">
     <input type='text' placeholder='NickName' class="exb" />
     <input type='number' style='background-color:transparent;' placeholder='Account Number'  class="exb" readonly/>
     <input type='text' style='background-color:transparent;' placeholder='BankName'  class="exb"readonly/>
     <input type='text' style='background-color:transparent;' placeholder='IFSCcode'  class="exb"readonly/>
     <input type='number' style='background-color:transparent;' placeholder='Mobile Number'  class="exb" readonly/>
     <input type='number' placeholder='Amount'  class="exb" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="submit" value="Deposit" style=" border-radius: 20px; background-color:seashell; height: 29px; width: 100px;">
  </div>

  <div class="backg1"></div>
<div class="trd1">
  <article style="font-size: 20px;">ADD NEW BENEFICIARY:</article><br/>
   <div class="trns">
   <input type='text' placeholder='NickName' class="exb" />
   <input type='number' placeholder='Account Number'  class="exb"/>
   <input type='number' placeholder='Confirm Account No'  class="exb" />
   <input type='text' placeholder='BankName'  class="exb"/>
   <input type='text' placeholder='IFSCcode'  class="exb"/>
   <input type='number' placeholder='Mobile Number'  class="exb" />&nbsp;
   <input type="submit" value="ADD" style=" border-radius: 20px; background-color:seashell; height: 29px; width: 100px;">
  </div>
</div>


<div class="backg2"></div>
<div class="trd2">
  <span style="font-size: 20px;">TRANSACTION DETAILS:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>Start Date:</label>
  <input type="date"class="dt"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>End Date:</label>
  <input type="date"class="dt"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style=" border-radius: 20px; background-color:seashell; height: 29px; width: 100px;">Get Details</button>
  <br/> <br/>
  <input type="text" class="data">
</div>