<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
      <div class='input-fields'>
        <input type='text' placeholder='UserName' class='input-line full-width'/>
        <input type='email' placeholder='Email' class='input-line full-width'/>
        <input type='text' placeholder='Location' class='input-line full-width'/>
        <input type='number' placeholder='Mobile Number' class='input-line full-width'/>
        <input type='number' placeholder='DOB(DDMMYYYY)' class='input-line full-width'/>
        <input type='text' placeholder='PanNumber' class='input-line full-width'/>
        <input type='password' placeholder='TransactionPassword' class='input-line full-width'/>
        <input type='password' placeholder='ConfirmTransactionPassword' class='input-line full-width'/>
        <input type='password' placeholder='LoginPassword' class='input-line full-width'/>
        <input type='password' placeholder='ConfirmLoginPassword' class='input-line full-width'/>
      </div>
      <div class='spacing'>or continue with <a href="login"><span class='highlight'>SignIn</span></a></div>
      <!-- <div><a href="welcomepage"><button class='ghost-round full-width'>Create Account</button></a></div> -->
      <div>
        <button routerLink="welcomepage" (click)="gotoWelcomepage()" class='ghost-round full-width' id="CA">Create Account</button>
      </div>
    </div>
  </div>
</div>
